.play-area {
    display: grid;
    grid-template-columns: auto 270px;
    grid-gap: 15px;
    padding: 30px;
    padding-top: 30px;
    height: 500px;

}

.play-area>div {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
}

.screen {
    display: grid;
    grid-template-rows: auto 50px;

    background: rgb(79, 78, 84);
    background: linear-gradient(90deg, rgba(79, 78, 84, 1) 0%, rgba(35, 35, 38, 1) 35%, rgba(104, 105, 105, 1) 100%);
}

.screen>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 0;
    font-size: 30px;
}

.up-next {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    white-space: nowrap;
    background: rgb(79, 78, 84);
    background: linear-gradient(90deg, rgba(79, 78, 84, 1) 0%, rgba(35, 35, 38, 1) 35%, rgba(104, 105, 105, 1) 100%);

}

.up-next>div {
    background-color: rgb(56, 54, 62);
    padding: 0 0;
    font-size: 30px;
}

.img {
    height:90%;
    width:70px;
     margin-top:11px;
      margin-left:15px;
}

.title-h5 {
    text-align: center;
    font-size: 12px;
   display: inline-block;
    color: white;
    margin-left: 8px;
    margin-bottom: 20px;
}

.up-icon {

    color: white;
    float: right;
    font-size: 26px;
    margin-top: 10px;
    margin-right: 130px;
}